# Apply Logistic Regression to the data.

## Import libries.

In [90]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

## Import csv.

In [91]:
df = pd.read_csv('test.csv')
df.head()

,Discard_0,Discard_1,Discard_2,Discard_3,Discard_4,Discard_5,Discard_6,Discard_7,Discard_8,hand,random_tile,waiting_tile,result
0,8,9,7,33,18,6,29,16,20,"[0, 1, 2, 3, 4, 6, 9, 10, 11, 14, 14, 14, 15, 20]",6,"[5, 3, 1, 0, 2, 5]",0
1,30,33,18,19,2,32,9,9,27,"[5, 6, 7, 11, 12, 13, 14, 15, 16, 23, 24, 25, ...",7,"[5, 8, 5, 4, 7, 12, 11, 24, 23]",1
2,23,1,3,32,19,28,11,33,1,"[10, 10, 13, 14, 15, 16, 17, 25]",25,"[10, 9, 11]",0
3,19,10,33,21,32,26,0,6,31,"[1, 3, 4, 5, 6, 7, 8, 12, 14, 21, 22, 23, 25, 25]",1,"[2, 5, 13, 1, 2, 14, 12]",1
4,29,1,2,6,21,25,11,33,13,"[8, 8, 8, 9, 9, 10, 11, 12, 13, 19, 19, 22, 23...",10,"[11, 18, 20, 10]",1

## Preparing data.

In [92]:
X = df[['Discard_0', 'Discard_1', 'Discard_2', 'Discard_3', 'Discard_4', 'Discard_5', 'Discard_6',
       'Discard_7', 'Discard_8', 'random_tile']]
y = df['result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

## Apply Logistic Regression.

In [93]:
logmodel = LogisticRegression(solver='lbfgs', multi_class='auto')
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Display accuracy compare with testing data.

In [98]:
predicted = logmodel.predict(X_test)
print("Accuaacy of Logistic Regression:", metrics.accuracy_score(y_test, predicted))

Accuaacy of Logistic Regression: 0.6576487948844073

## Cross-Validation

In [99]:
scores = cross_val_score(LogisticRegression(solver='lbfgs', multi_class='auto'), X, y, scoring='accuracy', cv=10)
print("Mean Accuaacy of Cross-Validation:" ,scores.mean())

Mean Accuaacy of Cross-Validation: 0.6534830950760155

## Predict a new input

In [100]:
data = np.array([0, 8, 9, 7, 33, 18, 6, 29, 16, 20])
columns=['Discard_0', 'Discard_1', 'Discard_2', 'Discard_3', 'Discard_4', 'Discard_5',
         'Discard_6', 'Discard_7', 'Discard_8', 'random_tile']
df2 = pd.DataFrame(data.reshape(-1, len(data)),columns=columns)

In [85]:
y = logmodel.predict(df2)

In [86]:
print(y)

[[0.65623778 0.34376222]]